<!--<div class="row">-->
<!--  <div class="col">-->
<!--    <app-person-list #personListComponent></app-person-list>-->
<!--  </div>-->
<!--  <div class="col">-->
<!--    <app-person-form (addPerson)="personListComponent.addNewPerson($event)"></app-person-form>-->
<!--  </div>-->
<!--</div>-->
<div class="row" style="height: 40px; background-color: black; color: white; align-content: center">
  <a routerLink="/">Home</a> |
  <a routerLink="/add">Add</a>
</div>
<div class="row" style="margin-top: 16px">
  <div class="col">
    <router-outlet></router-outlet>
  </div>
</div>
